#page{
	width: 1000px;
	margin: auto;
}

#body{
	margin-top: 50px;
	min-height: 500px;
}

#foot{
	padding-left: 80%;
	background-color: @gray-lighter;
	height: 100px;
}

.titre{
	text-align: center;
	margin-bottom: 50px;
}

.formulaireRecherche{
	margin-top: 100px;
	margin-left: 180px;
}

#formulaire{
	margin-top: 70px;
	margin-left: 180px;
	width: 600px;
	min-height: 300px;
}

#formulaireCreationTrajet{
	margin-top: 70px;
	margin-left: 80px;
	width: 800px;
	min-height: 300px;
}

#listeTrajet{
	text-align: center;
}
#listeTrajet th{
 text-align: center; 